//import 'bootstrap/dist/css/bootstrap.css'
//import 'bootstrap-vue/dist/bootstrap-vue.css'


/*
Color theme:
Black #403F4C
Primary/Blue #2660A4
Primary/Orange #FC8941
Secondary/Yellow #E9D758
White #FCF7FF
*/

// Default?
/*$theme-colors: (
  primary: #3185FC,
  success: #2bce51,
  warning: #FECD1F,
  danger: #E63032,
  dark: #403F4C
);*/

// Old
/*$theme-colors: (
  primary: #2660A4,
  success: #FC8941,
  warning: #E9D758,
  danger: #E63032,
  dark: #403F4C
);*/

$theme-colors: (
  primary: #B70000,
  success: #018e42,
  warning: #050517,
  danger: #B70000,
  dark: #050517,
  error: #B70000
);

//$btn-border-size-base: 0;
//$caret-width-base: 0;
//@btn-primary-border: 0;

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link {
    padding: 0 0.2em !important;
}

.nav-link .btn {
    width: 7em;
}

body {
	background-color: #333138 !important;
}

nav {
    border: 15px solid #333138;
}

.banner-img {
  overflow: hidden;
  width: 100%;
}

.banner-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

//$border-width: 0 !default;
//$input-btn-border-width: 0 !default;

//$border-radius: 0 !default;
$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;

@import "~bootstrap/scss/bootstrap";